.chat-side
  = render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__group-name
        = @group.name
      %ul.chat-main__header__left-box__members
        = "Member: "
        %li.chat-main__header__left-box__members-list
          - @group.users.each do |user|
            = user.name
    %a.chat-main__header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: 'chat-main__header__edit-btn__contents'
        
  .chat-main__messages
    = render @messages

  .chat-main__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'